<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boas Vindas ao Sistema GestAcad</title>
</head>
<body style="margin: 0; padding: 0; background:#f9f9f9; font-family: 'Open Sans', 'Tahoma', sans-serif; line-height: 2.1em;">
    <h1>Boas Vindas Professor <span th:text="${professor.nome} ?: ''"></span></h1>
    <br><br>
    <p>Seu cadastro foi aprovado com sucesso!</p>
    <p>Aproveite o novo gerenciamento de aulas e salas disponível para você!!</p>

</body>
</html>